{% extends 'base.html.twig' %}

{% block title %}Opération
{% endblock %}

{% block monTitre %}
	Service de {{operation.nom}}
{% endblock %}

{% block main2 %}

		<div class="row align-items-center">

			<div class="col-2 cold-md-6 col-lg-2 text-center">
				<img src="{{asset('images/' ~ operation.image) }}" class="img-fluid">
			</div>

			<div class="col-auto text-center">
                <div><strong>{{operation.nom}}</strong></div>
				<div>Description: {{operation.description}}</div>
                <div>Prix de Service : {{operation.prix}}</div>
			</div>
		</div>


{% endblock %}
