{% extends 'base.html.twig' %}


{% block title %}Log in!{% endblock %}
{% block monTitre %}Login{% endblock %}

{% block main2 %} 
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a class="btn btn-danger" href="{{ path('app_logout') }}">Deconnexion</a>
            
        </div>
    {% endif %}

    <label for="inputUuid">Login: </label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary m-4" type="submit">
        Valider
    </button>
    <a class="btn btn-light" href="{{ path('connect_google') }}" role="button" type="submit">Connectez-vous avec <img  class="logo_google" src="{{asset('asset/img/logoogle.svg')}}" alt=""></a>
     
</div>

</form>
{% endblock %}

