{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block navbarlists %}
		<a href="{{ path('app_home') }}">Accueil</a>
{% endblock %}

{% block main2 %} 
<div class='cadre1'>
    <div class='cadre2'>
        <form method="post">

            <label for="inputUuid">Email: </label>
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="username" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="buttonValider" type="submit">
                CONNEXION
            </button>
{# 
            <div class="buttonGoogle" >
                <a href="{{ path('connect_google') }}">
                    CONNEXION AVEC GOOGLE
                    <img src="{{asset('asset/img/icons_google.svg')}}" alt="">
                </a>
            </div> #}
        </form>
    </div>
</div>
</div>
{% endblock %}

