{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block main2 %}
	<div class="col-6">
		<h2>Liste d'operations en cours</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">nom de commande</th>
					<th scope="col">date</th>
					<th scope="col">statut</th>
					<th scope="col">nom du client</th>
					<th scope="col">type d' operation</th>
					<th scope="col">nom de l'employé</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for commandes in commandeEnCours %}
						<td>
							{{commandes.nomCommande}}
						</td>
						<td>
							{{ commandes.date|date("d/m/Y") }}</td>
						<td>
							{{commandes.statut}}
						</td>
						<td>
							{{commandes.client.nom}}
						</td>
						<td>
							{{commandes.operation.typeoperation}}
						</td>
						<td>
							{{commande.user.nom|default('')}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="col-6">
		<h2>Liste d'operations Terminées</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">nom de commande</th>
					<th scope="col">date</th>
					<th scope="col">statut</th>
					<th scope="col">nom du client</th>
					<th scope="col">type d' operation</th>
					<th scope="col">nom de l'employé</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for commandes in commandeTermine %}
						<td>
							{{commandes.nomCommande}}
						</td>
						<td>
							{{ commandes.date|date("d/m/Y") }}</td>
						<td>
							{{commandes.statut}}
						</td>
						<td>
							{{commandes.client.nom}}
						</td>
						<td>
							{{commandes.operation.typeoperation}}
						</td>
						<td>
							{{commande.user.nom|default('')}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
