{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block main2 %}
	<div class="col-6">
		<table class="table">
			<h1>Opérations en cours</h1>
			<thead>
				<tr>
					<th scope="col">Commande</th>
					<th scope="col">Date</th>
					<th scope="col">Client</th>
					<th scope="col">Operation</th>
					<th scope="col">Employé</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="cadreAccueil1 col-6">
		{% for commandes in commandeEnCours %}
			<div class="parentAcc">
				<div class="div1A">
					{{commandes.nomCommande}}
				</div>
				<div class="div2A">
					{{ commandes.date|date("d/m/Y") }}
				</div>
				<div class="div3A">
					{{commandes.client.nom}}
				</div>
				<div class="div4A">
					{{commandes.operation.typeoperation}}
				</div>
				<div class="div5A">
					{{commandes.user.nom|default('')}}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="col-6">
		<table class="table">
			<h1>Opérations Terminées</h1>
			<thead>
				<tr>
					<th scope="col">Commande</th>
					<th scope="col">Date</th>
					<th scope="col">Client</th>
					<th scope="col">Operation</th>
					<th scope="col">Employé</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="cadreAcceuil2 col-6">
		{% for commandes in commandeTermine %}
			<div class="parentAcc">
				<div class="div1A">
					{{commandes.nomCommande}}
				</div>
				<div class="div2A">
					{{ commandes.date|date("d/m/Y") }}
				</div>
				<div class="div3A">
					{{commandes.client.nom}}
				</div>
				<div class="div4A">
					{{commandes.operation.typeoperation}}
				</div>
				<div class="div5A">
					{{commandes.user.nom|default('')}}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
