{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}


{% block navbarlists %}

	<li class='mt-4'>
		<a href="{{ path('app_senior') }}">Tableau de bord</a>
	</li>
	<li class='mt-4'>
		<a href="{{ path('app_senior_operations') }}">Ajouter une opération</a>
	</li>
	<li class='mt-4'>
		<a href="{{ path('app_liste_operations_senior') }}">Liste mes opérations</a>
	</li>
	<li class='mt-4'>
		<a href="{{ path('app_prise_commande') }}">Ajouter commande client</a>
	</li>
{% endblock %}

{% block main2 %}
<div class="row p-4 mx-auto">
	<div class="cadre">
		<table>
			<h2>Lister mes opérations</h2>
			<thead>
				<tr>
					<th scope="col">nom de commande</th>
					<th scope="col">date</th>
					<th scope="col">statut</th>
					<th scope="col">nom du client</th>
					<th scope="col">type d' operation</th>
				</tr>
			</thead>
			<tbody class="operations">
				{% for commandes in commandeProfil %}
					<tr>
						<td>
							{{commandes.nomCommande}}
						</td>
						<td>
							{{ commandes.date|date("d/m/Y") }}</td>
						<td>
							{{commandes.statut}}
						</td>
						<td>
							{{commandes.client.nom}}
						</td>
						<td>
							{{commandes.operation.typeoperation}}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
