{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block monTitre %}Inscription sur le site
{% endblock %}
{% block navbarlists %}
	<lu>
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
		<br/><br/>
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
		<br/><br/>
		<a href="{{ path('app_liste_operations') }}">Lister mes opérations</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Liste des employés</a>
		<br/><br/>
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
		<br/><br/>
		<a href="{{ path('liste_employe_modifier') }}">Modifier un employé</a>
		<br/><br/>
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
		<br/><br/>
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</lu>
{% endblock %}
{% block main2 %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th scope="col">Email</th>
				<th scope="col">Role</th>
			</tr>
		</thead>
		<tbody>
			{% for employe in employe %}
				<tr>
					<th scope="row">{{ employe.id }}</th>
					<td>{{ employe.nom }}</td>
					<td>{{ employe.prenom }}</td>
					<td>{{ employe.email }}</td>
					<td>{{ employe.roles[0] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>{% endblock %}
