{# {% extends 'base.html.twig' %}

{% block title %}Hello ExpertController!{% endblock %}

{% block main2 %}
JE SUIS BIEN DANS LE CONTROLLER EXPERT
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}


{% block navbarlists %}
	<lu>
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
		<br/><br/>
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
		<br/><br/>
		<a href="{{ path('app_liste_operations') }}">Lister mes opérations</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Liste des employés</a>
		<br/><br/>
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
		<br/><br/>
		<a href="{{ path('liste_employe_modifier') }}">Modifier un employé</a>
		<br/><br/>
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
		<br/><br/>
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</lu>

{% endblock %}

{% block main2 %}
	<div class="cadre col-10 row p-4">
		{% for message in app.flashes('success') %}
			<div class=" alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		<table>
			<h2>Opérations en cours</h2>
			<thead>
				<tr>
					<th scope="col">nom de commande</th>
					<th scope="col">date</th>
					<th scope="col">statut</th>
					<th scope="col">nom du client</th>
					<th scope="col">type d' operation</th>
				</tr>
			</thead>

			{% for commandes in commandeProfil %}
				<div class="parent">
					<div class="div1">
						{{commandes.nomCommande}}
						{{ commandes.date|date("d/m/Y") }}
						{{commandes.statut}}
						{{commandes.client.nom}}
						{{commandes.operation.typeoperation}}
						<form method="post" action="{{path('expert_operations_terminer',{'id': commandes.id}) }}" onsubmit="return confirm('Voulez-vous vraiment terminer la commande ?');">
							<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ commandes.id)}}">
							<input type="submit" class="btn btn-successs" value="Terminer"></form>
					</div>
				</div>
			{% endfor %}
		</table>
	</div>
{% endblock %}
