{# {% extends 'base.html.twig' %}

{% block title %}Hello ExpertController!{% endblock %}

{% block main2 %}
JE SUIS BIEN DANS LE CONTROLLER EXPERT
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}


{% block navbarlists %}
			<li>
			<a href="{{ path('app_home') }}">Ajouter une opération</a>
			<br/>
        <a href="{{ path('app_home') }}">Liste mes opérations</a>
		<br/>
        <a href="{{ path('app_home') }}">Liste des employés</a>
		<br/>
        <a href="{{ path('app_home') }}">Ajouter un employé</a>
		<br/>
        <a href="{{ path('app_home') }}">Modifier un employé</a>
		<br/>
        <a href="{{ path('app_home') }}">Ajouter commande client</a>
		<br/>
        <a href="{{ path('app_home') }}">Chiffre d'affaire</a>
		</li>

{% endblock %}

{% block main2 %}

	<div class="row">
	JE SUIS BIEN DANS LE CONTROLLER EXPERT
	</div>
{% endblock %}

