{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block navbarlists %}
	<lu>
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
		<br/><br/>
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
		<br/><br/>
		<a href="{{ path('app_liste_operations') }}">Lister mes opérations</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Liste des employés</a>
		<br/><br/>
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
		<br/><br/>
		<a href="{{ path('liste_employe_modifier') }}">Modifier un employé</a>
		<br/><br/>
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
		<br/><br/>
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</lu>

{% endblock %}

{% block main2 %}
	<div class="cadre col-10 row p-4">
		<h2>Lister mes opérations</h2>
<input placeholder="Rechercher une operation" style="margin-left:30%; width: 50%"/>
		<thead>
			<tr>
				<th scope="col">nom de commande</th>
				<th scope="col">date</th>
				<th scope="col">statut</th>
				<th scope="col">nom du client</th>
				<th scope="col">type d' operation</th>
			</tr>
		</thead>
		<tbody>
			{% for commandes in commandeProfil %}
				<div class="parent">
					<div class="div1">
						{{commandes.nomCommande}}
						{{ commandes.date|date("d/m/Y") }}
						{{commandes.statut}}
						{{commandes.client.nom}}
						{{commandes.operation.typeoperation}}

						{% if commandes.statut == "Terminer" %}
							<a href="{{path('afficherCommande',{'id':commandes.id})}}">PDF</a>
						{% endif %}
					</div>

				</div>
			{% endfor %}
		</tbody>
	</div>
{% endblock %}
