{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block monTitre %}Inscription sur le site
{% endblock %}
{% block navbarlists %}
	<lu>
		<a href="{{ path('app_expert') }}">Tableau de bord</a>
		<br/><br/>
		<a href="{{ path('app_expert_operations') }}">Ajouter une opération</a>
		<br/><br/>
		<a href="{{ path('app_liste_operations') }}">Lister mes opérations</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Liste des employés</a>
		<br/><br/>
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
		<br/><br/>
		<a href="{{ path('liste_employe_modifier') }}">Modifier un employé</a>
		<br/><br/>
		<a href="{{ path('app_prise_commande_expert') }}">Ajouter commande client</a>
		<br/><br/>
		<a href="{{ path('app_chiffre_affaire') }}">Chiffre d'affaire</a>
	</lu>

{% endblock %}

{% block main2 %}
<div class="row p-4 mx-auto">
	<div class='cadreRegister'>

		<h3>Ajouter un employé</h3>
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.nom)}}
		{{ form_row(registrationForm.prenom)}}
		{{ form_row(registrationForm.email)}}
		{{ form_row(registrationForm.uuid,{
            "attr":{"placeholder":"Saisir votre login"},
            "label":"Votre Login"
    })}}
		{{ form_row(registrationForm.password, {
            label: 'Password'
        })}}
		{{ form_row(registrationForm.roles)}}
		{{ form_row(registrationForm.agreeTerms) }}
		<button type="submit" class="btn btn-primary">Ajouter</button>
		{{ form_end(registrationForm) }}
	</div>
</div>
{% endblock %}
