{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}
{% block monTitle %}Page'Administration
{% endblock %}
{% block main2 %}
	<a class="btn btn-success" href="{{path('admin_operation_creation')}}">
		Ajouter</a>
	<table class="table">
		<tr class="table-primary">
			<td>Image</td>
			<td>Opération</td>
			<td>Type d'opération</td>
			<td>Description</td>
			<td>Prix</td>
			<td>Actions</td>
		</tr>

		<tr>
			{% for operation in operations %}
				<td style="width:10%"><img src="{{asset('images/' ~ operation.image)}}" class="card-img-top"></td>
				<td><strong>{{operation.nom}}</strong></td>
                <td><strong>{{operation.typeoperation}}</strong></td>
				<td><strong>{{operation.description}}</strong></td>
				<td><strong>{{operation.prix}}</strong></td>
                <td>
                <a class="btn btn-secondary" href="{{path('admin_operation_modification',{'id': operation.id})}}">Modifier</a>
               


			   
				<form method="POST" action="{{path('supprimer',{'id': operation.id}) }}">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" class="btn btn-danger" value="supprimer">
				</form>
                </td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}