{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block monTitre %}

{% if isModification %}
Modification {{operation.nom}}
{% else %}
Ajout d'une opération
{% endif %}

{% endblock %}

{% block main2 %}

	{{form_start(form)}}
		<img src="{{asset('images/' ~ operation.image)}}">
		<div>{{form_row(form.image)}}</div>
		{{form_widget(form)}}
		
	<input type="submit" class="btn btn-primary" value="Enregistrer">
	{{form_end(form)}}
{% endblock %}