{% extends 'base.html.twig' %}

{% block title %}
	{% if isModification %}
		Modification
		{{employe.nom}}
	{% endif %}
{% endblock %}


{% block navbarlists %}
	<li>
		<a href="{{ path('app_home') }}">Ajouter une opération</a>
		<br/><br/>
		<a href="{{ path('app_home') }}">Liste mes opérations</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Liste des employés</a>
		<br/><br/>
		<a href="{{ path('inscription') }}">Ajouter un employé</a>
		<br/><br/>
		<a href="{{ path('liste_employe') }}">Modifier un employé</a>
		<br/><br/>
		<a href="{{ path('app_home') }}">Ajouter commande client</a>
		<br/><br/>
		<a href="{{ path('app_home') }}">Chiffre d'affaire</a>
	</li>

{% endblock %}

{% block main2 %}

	<table class='table'>

		<h3>Modifier un employé</h3>

		{{ form_start(form) }}
		{{ form_row(form.nom)}}
		{{ form_row(form.prenom)}}
		{{ form_row(form.email)}}
		{{ form_row(form.roles)}}
		<button type="submit" class="buttonValiderRegister">Modifier</button>
		{{ form_end(form) }}

	</table>
{% endblock %}
